<!-- <div *ngFor="let user of users">
    <h3>User:</h3>
    <div>
        id: {{user.id}}
        <br> username: {{user.username}}
        <br> email: {{user.email}}
        <br> password: {{user.password}}
        <br>
        <div *ngFor="let issue of user.issues">
            <div>
                Title: {{issue.title}}
                <br> Description: {{issue.description}}
            </div>
        </div>
    </div>
</div> -->

<div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">

                <div class="text-center mt-4">
                    <h1 class="h2">Welcome back!</h1>
                    <p class="lead">
                        Sign in to your account to continue
                    </p>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <div class="text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Andrew Jones" class="img-fluid rounded-circle" width="132" height="132">
                            </div>
                            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input class="form-control form-control-lg" type="text" ngModel name="email" placeholder="Enter your username">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="form-control form-control-lg" type="password" ngModel name="password" placeholder="Enter your password">
                                    <small>
                                        <a href="pages-reset-password.html">Forgot password?</a>
                                    </small>
                                </div>
                                <div class="text-center mt-3">
                                    <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
                                </div>
                                <div class="form-group">
                                    <small>
                                        <a href="pages-reset-password.html">Don't have an account?</a>
                                    </small>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>